<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" 
         version="5.0">
 <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>BalanceRecipe.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExecuteLogin</servlet-name>
    <servlet-class>BalanceRecipe.ExecuteLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteLogin</servlet-name>
    <url-pattern>/ExecuteLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>BalanceRecipe.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExecuteLogout</servlet-name>
    <servlet-class>BalanceRecipe.ExecuteLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecuteLogout</servlet-name>
    <url-pattern>/ExecuteLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InputSurvey</servlet-name>
    <servlet-class>BalanceRecipe.InputSurvey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputSurvey</servlet-name>
    <url-pattern>/InputSurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveSurvey</servlet-name>
    <servlet-class>BalanceRecipe.SaveSurvey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSurvey</servlet-name>
    <url-pattern>/SaveSurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowAllSurvey</servlet-name>
    <servlet-class>BalanceRecipe.ShowAllSurvey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllSurvey</servlet-name>
    <url-pattern>/ShowAllSurvey</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>RegisterSurvey</servlet-name>
    <servlet-class>BalanceRecipe.RegisterSurvey</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RegisterSurvey</servlet-name>
    <url-pattern>/RegisterSurvey</url-pattern>
</servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveMealSurvey</display-name>
    <servlet-name>SaveMealSurvey</servlet-name>
    <servlet-class>BalanceRecipe.SaveMealSurvey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveMealSurvey</servlet-name>
    <url-pattern>/SaveMealSurvey</url-pattern>
  </servlet-mapping>
 <filter>
    <filter-name>SetEncodingFilter</filter-name>
    <filter-class>filter.SetEncodingFilter</filter-class> </filter>
  <filter-mapping>
    <filter-name>SetEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginCheckFilter</display-name>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>